$day-margin: 1px;
$day-size: 100px;

html {
  font-family: Arial, Helvetica, sans-serif;
}

@mixin size {
  margin: 0 $day-margin $day-margin 0;
  width: $day-size;
  height: $day-size;

  background-color: #eee;
  border: 1px solid;
  box-sizing: border-box;

  &::after {
    display: inline-block;
  }

  &:hover {
    animation: move 0.5s forwards;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  margin: 0;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: (($day-size + $day-margin)*7);
}

@for $i from 1 through 31 {
  .calendar div:nth-child(#{$i})::after {
    content: "#{$i}";
    display: none;
    text-align: center;

    width: 100%;
    font-size: 30px;
    line-height: 100px;
  }
}

@for $i from 1 through 31 {
  .calendar-#{$i} div:nth-child(-n+#{$i}) {
    @include size;
  }
  
}

$days: (
  "mon": 0,
  "tue": ($day-margin + $day-size),
  "wed": ($day-margin + $day-size) * 2,
  "thu": ($day-margin + $day-size) * 3,
  "fri": ($day-margin + $day-size) * 4,
  "sat": ($day-margin + $day-size) * 5,
  "sun": ($day-margin + $day-size) * 6
);

@each $name, $marg in $days {
  .calendar-#{$name} div:first-child {
    margin-left: $marg;
  }
}

@keyframes move {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
    background-color: pink;
  }
}
